<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Players</h1>

<div id="users">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Created At</th>
      <th scope="col">Last Updated At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
    <% @users.each do |user| %>
     <tr id="<%= dom_id user %>">
        <%= render user %>
        <td>
          <%= link_to "Show", user %>
          <%# <%= link_to "Edit", user_edit %> 
        </td>
    </tr>
    
  <% end %>
  </Table>
</div>

<%= link_to "New user", new_user_path %>
